.layout {
    height: 100vh !important;
    margin: 0;
}
.row-graph {
    width: 100vw;
    height: 60vh;
}

.mapboxgl-ctrl-bottom-right {
    display: none !important;
}

#bubble_chart {
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 0;
    left: 0;
}

#heatmap, .mapboxgl-map, .mapboxgl-canvas {
    position: absolute;
    width: 50vw !important;
    height: 50vh !important;
    top: 0;
    right: 0;
}

#multi_axis {
    position: absolute;
    width: 100vw !important;
    height: 50vh !important;
    bottom: 0;
}

a[href="https://plotly.com/"] {
    display: none !important;
}
